.card.Empty {
  .card-header {
    background: #21A179;

    h2, h4, p, {
      color: white;
    }
  }
}

.card.Loaded {
  .card-header {
    background: #FF785A;

    h2, h4, p, {
      color: white;
    }
  }
}

.card-header {
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 21px 34px;
  align-items: center;
  min-height: 180px;

  .card-head-left {
    h2 {
      font-size: 21px;
      font-weight: bold;
      padding-bottom: 12px;
      max-width: 300px;
    }

    h4 {
      font-size: 15px;
      font-weight: bold;
      padding-bottom: 12px;
      letter-spacing: 1.5px;
    }

    p {
      font-size: 14px;
      color: #4a5568;
      font-weight: bold;
      letter-spacing: 1.5px;
    }
  }
}

.card-body {
  background: #EBEBEB;
  padding: 32px 21px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  .infos {
    display: flex;
    padding-bottom: 12px;

    .info-note {
      flex: 1 1 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: center;

      h4 {
        font-size: 18px;
        font-weight: bold;
      }

      p {
        font-size: 16px;
      }
    }
  }
}
.card-footer{
  padding: 0;
}
.btngroup {
  display: flex;
  align-items: stretch;
  width: 100%;
  .btn {
    background: white;
    color: #1E1E24;
    flex:1;
    padding: 12px 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    transition: 0.5s;
    &:first-child{
      border-bottom-right-radius: 0;
      border-right: 1px solid black;
    }
    &:last-child{
      border-bottom-left-radius: 0;
      border-left: 1px solid black;
    }
    &:hover {
      background-color: #4a5568;
      color:white;
    }
  }
}